/* 所有 Element Plus组件所采用的颜色都基于以下变量.
你可以通过覆盖这些变量来改变 Element Plus 的默认样式.
对于非 Element Plus 组件, 建议设定颜色时也采取Element Plus变量, 以便主题统一. */

:root {
  /* --el-color-primary: #6d28d9;
  --el-color-primary-light-3: #8b5cf6;
  --el-color-primary-dark-2: #5b21b6;
  --el-text-color-primary: #1a1a1a;
  --el-border-color-base: #e5e7eb;
  --el-border-color-light: #ede9fe; */
}

body {
  background: #fff;
  color: var(--el-text-color-primary);
  margin: 0;
  min-height: 100vh;
}

.el-main {
  min-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #f8fafc; */
  background: linear-gradient(135deg, #e0f7fa 0%, #cfb0d4 100%);
}

.el-form-item {
  margin-bottom: 1.5rem;
}

.el-form-item__label {
  font-weight: 500;
  color: var(--el-text-color-primary);
}

.el-card {
  --el-card-border-color: var(--el-border-color-base);
}